---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export const getStaticPaths = (async () => {
  const posts = await Astro.glob("../posts/*.md");
  const uniqueTags = new Set(
    posts.map((post) => post.frontmatter?.tags || []).flat()
  );

  return Array.from(uniqueTags).map((tag) => {
    const filteredPosts = posts.filter((post) =>
      post.frontmatter.tags?.includes(tag)
    );
    return { params: { tag }, props: { posts: filteredPosts } };
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <BlogPost title={post.frontmatter.title} url={post.url} />
      ))
    }
  </ul>
</BaseLayout>
